# 依赖与构建产物
**/node_modules/
**/dist/
**/dist-build/
**/dist-build-new/
**/dist-release/
**/dist-new/
**/dist2/
**/dist3/
**/dist4/
**/dist-install/
**/out/
*.log
npm-debug.log*

# 系统与工具
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# 本地环境
.env
.env.*
